article {
    padding: 0 25px 0 40px;
}
.author, .category {
    text-align: right;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1200px;  
}
.span15{
    width:1200px;
}

.demo-logo .logo {
    background: url("../lib/images/icons/Book.png") no-repeat scroll center 0 / 200px 200px transparent;
    height: 200px;
    margin: 0 auto 26px;
    overflow: hidden;
    text-indent: -9999em;
    width: 256px;
}
.demo-headline{
    padding-bottom: 60px;
}
.demo-filter{
    width:240px;
}


.todo li:first-child {
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    padding-bottom: 18px;
}
.search-spacer {
    padding: 18px 25px;
    background-color: #1ABC9C;
    font: 19px Lato, sans-serif;
    font-weight: bold;
    color: #34495e;
}
.search-field .todo-search {
    border-radius: 0;
    padding: 5px 25px;
    margin: 2px 0;
    background: #1abc9c;
}
input.todo-search-field{
    font-size: 16px;
}
.todo-search:before {
    content: '';
}
.search-field .btn{
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    color: #34495e;
    font: 19px Lato, sans-serif;
    font-weight: bold;
}
input[type="search"]::-webkit-input-placeholder {
  color: #ECF0F1;
}
input[type="search"]:-moz-placeholder {
  color: #ECF0F1;
}
input[type="search"]:-ms-input-placeholder {
  color: #ECF0F1;
}​
.demo-tiles .span12 .span3{
    width: 293px;
    margin: 0 10px 10px 10px;
}
.container-fluid{
    padding-left: 10px;
    padding-right: 0;
}
.hero-unit{
    padding: 40px 60px 90px 60px;
}
.row-fluid .offset6 {
    float:right;
}
section.content{
    background-color: #eff0f2;
    border-radius:6px;
    padding: 40px;
    min-height: 400px;
}
footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer p {
    margin: 0;
}
.none {
    display: none;
}
.loading-text {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.loading {
    text-align: center;
}