<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LightInTheBlog-FreshmenShow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="../lib/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../lib/css/flat-ui.css" rel="stylesheet">    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="about_us.css">
  </head>
<body>
    <div class="container">
        <div class="demo-headline">
            <h1 class="demo-logo">
              <div class="logo"></div>
              LightInTheBlog
              <small>Freshmen Show</small>
            </h1>
        </div> <!-- /demo-headline -->

        <div class="row demo-row">
            <div class="span15">
              <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                  <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
                    <div class="nav-collapse collapse" id="nav-collapse-01">
                      <ul class="nav">
                        <li class="">
                          <a href="../index/index.html">
                            Home
                            <span class="navbar-unread">1</span>
                          </a>
                        </li>
                        <li class="active">
                          <a href="#">
                            About Us
                          </a>
                        </li>
                      </ul>
                    </div><!--/.nav -->
                  </div>
                </div>
              </div>
            </div>
        </div> <!-- /row -->
        
        <div class="tabbable"> <!-- Only required for left/right tabs -->
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">孙璐</a></li>
            <li><a href="#tab2" data-toggle="tab">张占鹤</a></li>
            <li><a href="#tab3" data-toggle="tab">林东东</a></li>
            <li><a href="#tab4" data-toggle="tab">罗创杰</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
              <p>
                <p>宛如玉雕冰塑，似梦似幻，娇艳绝伦，貌如西子胜三分</p>
                <p>清丽绝俗，冰清玉洁，有如画中天仙 </p>
                <p>灿若明霞，宝润如玉，恍如神妃仙子 </p>
                <p>气质美如兰，才华馥比仙，令人见之忘俗 </p>
                <p>丰润嫩白，樱桃小口，眉目含情，仿佛太真重临 </p>
                <p>鲜艳妩媚，袅娜风流，柔媚姣俏，粉光脂艳 </p>
                <p>鬓若刀裁，眉如墨画，面如桃瓣，目若秋波 </p>
                <p>凤眼柳眉，粉面含春，丹唇贝齿，转盼多情 </p>
                <p>眉目如画，肌肤胜雪，真可谓闭月羞花 </p>
                <p>娇若春花，媚如秋月，真的能沉鱼落雁 </p>
                <p>闲静如姣花照水，行动似弱柳扶风，体态万千 </p>
                <p>娇小玲珑，宛如飞燕再世，楚楚动人 </p>
                <p>鸭蛋秀脸，俊眼修眉，黑发如瀑，风情万种 </p>
                <p>削肩细腰，身材苗条，娇媚动人，顾盼神飞 </p>
                <p>让人倾倒 丰胸细腰，妖娆多姿，让人一看就心跳不已 </p>
                <p>粉嫩白至，如芍药笼烟，雾里看花 </p>
                <p>腮凝新荔，目若秋水，千娇百媚 </p>
                <p>鲜艳妍媚，肌肤莹透，引人遐思 </p>
                <p>巧笑嫣然，宛约可人 </p>
                <p>如梨花带露，清新秀丽 </p>
                <p>风姿楚楚，明丽动人 </p>
                <p>肌肤微丰，雅淡温宛，清新可人</p>
              </p>
            </div>
            <div class="tab-pane" id="tab2">
              <p>
                <p>我岂是一个帅字形容了得。</p>
                <p>我乃：英俊潇洒、风流倜傥、玉树临风、年少多金、神勇威武、天下无敌、宇内第一、寂寞高手、</p>
                <p>刀枪不入、唯我独尊、玉面郎君、仁者无敌、勇者无惧、金刚不坏、英明神武、侠义非凡、义薄云天、</p>
                <p>古往今来、无与伦比、谦虚好学、不耻下问、聪明伶俐、活泼可爱、待友热情、对敌冷酷、阴险狡诈、</p>
                
                <p>无所不为、心狠手辣、无恶不作，对友赴汤蹈火、再所不辞、两肋插刀、枪林弹雨、勇往直前、慷慨大方、</p>
                <p>头脑精明、仙福永享、寿与天齐、百折不饶、百打不死、侠中豪杰、人中龙凤、有情有义、有胆有色、</p>
                <p>举世无双、既酷又帅、人之表率、诚实可信、谈吐大方、风度翩翩、气势凌人、气质高贵、单身贵族、</p>貌赛潘安、智胜孔明、勇比子龙、义超关羽、巧越鲁班、至尊至圣、至高无上、华丽绚烂、英勇无比、
                <p>道德榜样、千杯不醉、坐怀不乱、知识渊博、才高八斗、傲视众生、世外高人、光明磊落、公正无私、</p>
                <p>震古烁今，第一大英雄大豪杰大侠客大宗师，急如风、静如林、掠如火、不动如山，号称一朵梨花压海棠，</p>
                <p>人送 绰号上天下地无所不能玉面小飞龙，英俊与智慧的化身，侠义与仁义的糅合，前辈高人巨侠是也。</p>
              </p>
            </div>
            <div class="tab-pane" id="tab3">
              <p>
               <p>英俊潇洒、风流倜傥、玉树临风、年少多金、神勇威武、天下无敌、宇内第一、寂寞高手、</p>
               <p>刀枪不入、唯我独尊、玉面郎君、仁者无敌、勇者无惧、金刚不坏、英明神武、侠义非凡、义薄云天、</p>
               <p>古往今来、无与伦比、谦虚好学、...   </p>
               <p>才貌双全 逸群之才 玉树临风 温文尔雅 淑人君子     清新俊逸 品貌非凡 才貌双绝 惊才风逸 风流才子</p>
               <p>雅人深致 城北徐公 堂堂正正 七尺男儿 英俊潇洒     顶天立地 血性男儿 足智多谋 风流倜傥 </p>
               <p>正义之士     英勇好斗 武艺高强 见义勇为 舍己为人 救死扶伤     坐怀不乱 翩翩少年 昂藏七尺 </p>
               <p>彪形大汉 惨绿少年     断袖之宠 断袖之癖 断雁孤鸿 傅粉何郎 蜂迷蝶猜     蜂识莺猜 寡鹄孤鸾 </p>
               <p>孤鸾寡鹄 鳏鱼渴凤 华封三祝     巾帼须眉 佳人才子 君子好逑 狂蜂浪蝶 旷夫怨女     浪蝶狂蜂 </p>
               <p>浪蝶游蜂 邻女窥墙 怜香惜玉 面如傅粉     美如冠玉 面如冠玉 男大当婚 男大当娶 男大须婚     </p>
               <p>南户窥郎 女貌郎才 男尊女卑 女中丈夫 匹夫无罪     翩翩年少 翩翩少年 噙齿戴发 秋风团扇 </p>
               <p>弃旧怜新     人面桃花 桑弧蓬矢 色衰爱弛 沈腰潘鬓 上烝下报     投梭折齿 投梭之拒 闲花野草 </p>
               <p>闲花野草 萧郎陌路     须眉男子 血性男儿 惜玉怜香 野草闲花 莺俦燕侣     掷果潘安 掷果潘郎 </p>
               <p>坐怀不乱 坐上琴心 醉玉颓山     玉树临风 鹤立鸡群 一表人才 仪表不凡 高大威猛     英俊潇洒 </p>
               <p>风流倜傥 风度翩翩 气宇不凡 冷酷无情     薄情寡义 收放自如 心无所挂 忘恩负义 铁石心肠     </p>
               <p>面冷心硬 没心没肺 少心缺肝 才貌双全 逸群之才 温文尔雅 淑人君子 清新俊逸 品貌非凡 才貌双绝</p>
               <p>惊才风逸 风流才子 雅人深致 义薄云天 铁骨铮铮</p>
              </p>
            </div>
            <div class="tab-pane" id="tab4">
              <p>
                  <p>男子年纪大约二十七、八岁左右，蓄著一头短发，白衬衫的领口微微敞开，衬衫袖口卷到手臂中间，露出小麦</p>
                  <p>色的皮肤，眼睛深邃有神，鼻梁高挺，嘴唇性感，尤其是搭配在一起之后，更是犹如上帝手下巧夺天工的作品 </p>
                  <p>玉树临风风流倜傥英俊潇洒才高八斗貌似潘安号称一朵梨花压海棠人送绰号玉面小飞龙的唐伯虎。。</p>
                  <p>鼻若悬胆 长身玉立 才貌双全 才貌双绝 才高八斗 城北徐公 唇若涂脂 顶天立地 风度翩翩 风流倜傥 </p>
                  <p>风流才子 风趣如斯 丰采高雅 高大威猛 鹤立鸡群 惊才风逸 轮廓分明 貌比潘安 面如冠玉 眉目疏朗 </p>
                  <p>目如朗星 品貌非凡 七尺男儿 气宇不凡 气宇轩昂 清新俊逸 容貌甚伟容止可观   神采奕奕 神采飞扬 </p>
                  <p>神明爽俊 淑人君子 谈吐大方 谈笑风生 堂堂正正 天姿秀出 望之俨然 温文尔雅 文质彬彬 血性男儿 </p>
                  <p>雅人深致 雅量非凡 一表人才 逸群之才 仪表不凡 英俊潇洒 英勇非凡 羽扇纶巾 玉树临风 正义之士 </p>
                  <p>足智多谋 珠玉在侧</p>

              </p>
            </div>
          </div>
        </div>
    </div>
    <footer>
        <p>&copy; lightinthebox 2013</p>
    </footer>
    <!-- Load JS here for greater good =============================-->
    <script src="../lib/js/jquery.js"></script>   
    <script src="../lib/js/bootstrap-tab.js"></script>      
  </body>
</html>
