<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LightInTheBlog-FreshmenShow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="../lib/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../lib/css/flat-ui.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="article.css">
  </head>
<body>
    <div class="container">
        <div class="demo-headline">
            <h1 class="demo-logo">
              <div class="logo"></div>
              LightInTheBlog
              <small>Freshmen Show</small>
            </h1>
        </div> <!-- /demo-headline -->

        <div class="row demo-row">
            <div class="span15">
              <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                  <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
                    <div class="nav-collapse collapse" id="nav-collapse-01">
                      <ul class="nav">
                        <li>
                          <a href="#fakelink">
                            Menu
                            <span class="navbar-unread">1</span>
                          </a>
                        </li>
                        <li class="active">
                          <a href="../index/index.html">
                            Home
                            <span class="navbar-unread">1</span>
                          </a>
                        </li>
                        <li>
                          <a href="#fakelink">
                            About Us
                          </a>
                        </li>
                      </ul>
                    </div><!--/.nav -->
                  </div>
                </div>
              </div>
            </div>
        </div> <!-- /row -->
        
        <div class="row demo-tiles">
            <article>
              <div class="hero-unit">
                <p class="alert alert-error none"></p>
                <div class="loading">
                  <img src="../lib/images/icons/loading.png" alt="加载中">
                  <p class="loading-text">书写中，请稍后</p>
                </div>
                <h1 class="caption none"></h1>
                <p class="author offset6 none">
                  <span class="small">作者：</span>
                  <strong class="text"></strong>
                </p>
                <p class="category offset6 none">
                  <span class="small">目录：</span>
                  <span class="text"></span>
                </p>
              </div>
              <section class="content">                  
              </section><!--/span-->            
            </article><!--/span-->
        </div> <!-- /tiles -->
    </div>
    <footer>
        <p>&copy; lightinthebox 2013</p>
    </footer>
    <!-- Load JS here for greater good =============================-->
    <script src="../lib/js/jquery.js"></script>    
    <script src="article.js"></script>
  </body>
</html>
