<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LightInTheBlog-FreshmenShow</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="../lib/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../lib/css/flat-ui.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="article.css">
  </head>
<body>
    <div class="container">
        <div class="demo-headline">
            <h1 class="demo-logo">
              <div class="logo"></div>
              LightInTheBlog
              <small>Freshmen Show</small>
            </h1>
        </div> <!-- /demo-headline -->

        <div class="row demo-row">
            <div class="span15">
              <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                  <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target="#nav-collapse-01"></button>
                    <div class="nav-collapse collapse" id="nav-collapse-01">
                      <ul class="nav">
                        <li>
                          <a href="#fakelink">
                            Menu
                            <span class="navbar-unread">1</span>
                          </a>
                        </li>
                        <li class="active">
                          <a href="#fakelink">
                            Home
                            <span class="navbar-unread">1</span>
                          </a>
                        </li>
                        <li>
                          <a href="#fakelink">
                            About Us
                          </a>
                        </li>
                      </ul>
                    </div><!--/.nav -->
                  </div>
                </div>
              </div>
            </div>
        </div> <!-- /row -->
        
        <div class="row demo-tiles">
            <article>
              <div class="hero-unit">
                <p class="error none text-error"></p>
                <h1 class="caption">相机应该如何防沙？</h1>
                <p class="author offset6">
                  <span class="small">作者：</span>
                  <strong class="text"></strong>
                </p>
                <p class="category offset6">
                  <span class="small">目录：</span>
                  <span class="text">ccc</span>
                </p>
              </div>
              <section class="content">
                一点建议
                1：尽量用手机
                2：允许的话购买防水相机，那种全封闭潜望镜式的。
                3：实在要带现有相机，也有解决办法的。
                1：防水套，缺点是影响成像。
                2：好一些的解决办法，就是贴那种玻璃一样的保护片，贴到DC的镜头口，然后再加上防水套，小小改装下可以解决成像质量的问题。
                3：条件许可还是在车内拍摄吧········前提是你有汽车随意使用的话。                      
              </section><!--/span-->            
            </article><!--/span-->
        </div> <!-- /tiles -->
    </div>
    <footer>
        <p>&copy; lightinthebox 2013</p>
    </footer>
    <!-- Load JS here for greater good =============================-->
    <script src="../lib/js/jquery.js"></script>    
    <script src="article.js"></script>
  </body>
</html>
